body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 10px;
  padding-right: 10px;
  color: grey;
}

h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  padding-left: 10px;
  text-align: center;
  color: white;
}

button {
/*   background-color: darkred; */
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.topBar {
  margin: auto;
  display: flex;
  width: 100%;
  height: 50px;
}

.barOption {
  border-style: solid;
  width: 33%;
  text-align: center;
}

.parent {
  width: 100%;
  display: flex;
}

.d3 {
  border-style: solid;
  color: #9000ff;
  width: 100%;
}

.lx {
  border-style: solid;
  color: #fff700;
  width: 100%;
}

.whole {
  width: 99%;
  padding-left: 10px;
  border-style: solid;
  color: white;
}

.fourth {
  width: 25%;
  padding-left: 10px;
  border-style: solid;
  color: white;
}

.sixth {
  width: 12.5%;
  padding-left: 10px;
  border-style: solid;
  color: white;
}

.half {
  width: 50%;
  padding-left: 10px;
  border-style: solid;
  color: white;
}

.console {
  overflow: scroll;
  height: 500px;
  padding-left: 10px;
  border-style: solid;
}

clock {
  color: grey;
  font-size: 15px;
}

highlight {
  color: red;
}

debug {
  font-size: 15px;
}

lx {
  color: yellow;
}

d3 {
  color: #9000ff;
}