body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 10px;
  padding-right: 10px;
  color: grey;
}

h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 45%;
  border-style: solid;
  margin-right: 5px;
  margin-left: 5px;
}

.feed {
/*   margin-bottom: 10px; */
}

.data {
  padding-left: 10px;
  width: 99%;
}

.time {
  padding-left: 10px;
  border-style: solid;
  width: 50%;
}

.timecode {
  padding-left: 10px;
  border-style: solid;
  width: 50%;
}

.lighting {
  padding-left: 10px;
  border-style: solid;
  width: 50%;
}

.video {
  padding-left: 10px;
  border-style: solid;
  width: 50%;
}

.console {
  overflow:  scroll;
  height: 500px;
  padding-left: 10px;
  border-style: solid;
  width: 45%;
  float: right;
}

clock {
  color: grey;
  font-size: 15px;
}

highlight {
  color: red;
}

@media screen and (max-width: 1000px) {
/*  .trigger {
    float: none;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 99%;
  }
  
  img {
    float: none;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .multiview {
    display: none;
  }
  .data {
    width: 99%;
  }
  button {
    font-size: 15px;
  }*/
}
